img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

h1{
    animation-name: ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: white;
    border-radius: 10px;
    width: 700px;
}

@keyframes ani{
    0%{color: darkgoldenrod;}
    33%{color: darkcyan;}
    66%{color: darkblue;}
    100%{color: darkgoldenrod;}
}

.hsd{
    margin-top: 10px;
}

.test-img-result{
    background-color: rgb(126, 126, 126);
    width: 1000px;
    margin-left: 200px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.hsq{
    color: white;
    font-size: 20px;
}

.sx3{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 90px;
    margin-top: 30px;
    width: 400px;
}

b{
    color: orange;
}

.test-img-result2{
    background-color: rgb(126, 126, 126);
    width: 1000px;
    margin-left: 200px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.ch7{
    background-color: bisque;
    border-radius: 10px;
    font-weight: bold;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.nj4{
    font-size: 50px;
    color: darkslategray;
}

.jb9{
    margin-top: 10px;
}

.yu8{
    color: red;
}

.hu6{
    animation-name: ani2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 30px;
}

@keyframes ani2{
    0%{color: lightcoral;}
    25%{color: lightgoldenrodyellow;}
    50%{color: lightgreen;}
    75%{color: lightsalmon;}
    100%{color: lightcoral;}
}

.io9{
    font-size: 20px;
    animation-name: ani2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.jk4{
    color: black;
    font-size: 30px;
}

.sbns{
    background-color: white;
    margin-top: 2300px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 1500px;
}